<div class="smw-content">
    <div class="smw-header">
        <span>{{{speaker}}}</span>
        <span class="smw-control">
            <i id="skip-message" class="smw-button fas fa-caret-right"></i>
            <i id="close-overlay" class="smw-button fas fa-times"></i>
        </span>
    </div>
    <div class="smw-message">
        {{{message}}}
    </div>
</div>
